/dashboard/node_modules
/dashboard/public/storage
/dashboard/public/hot
/dashboard/storage/*.key
/dashboard/storage/credentials.json
/dashboard/vendor
/dashboard/.env
/dashboard/.env.backup
/dashboard/.phpunit.result.cache
/dashboard/Homestead.json
/dashboard/Homestead.yaml
/dashboard/npm-debug.log
/dashboard/yarn-error.log
/dashboard/storage/sheets-service-account.json
/esp32-parts/credentials.h
